/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*--------------------------Da_menu_m start----------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/
.Dia_menu_m{
	
}
.Dia_menu_icon{
	font-size:2.5em;
	border:3px solid #808080;
	color:#808080;
	border-radius:20%;
}
.Dia_menu_m_icon{
	padding-top:10px;
}

.Dia_menu_m:hover .Dia_menu_section_m{
	opacity:0.9;
	background:#666633;
}
/*--****************************************************************************************--*/
/*--****************************************************************************************--*/
/*--****************************************************************************************--*/
/* If the screen size is 601px or more, set the font-size of <div> to 80px */
@media only screen and (min-width: 601px) {

.Dia_menu_section_m{
	opacity:0 ;
	position:absolute;
	width:85.62%;
}


.Dia_box_m{
	text-align:center;
}
.Dia_box_m h4{
	font-family:Bell MT;
	font-weight:bold;
	color:#33CCFF;
}
.Dia_box_link_M{
	text-align:left;
}
.Dia_box_link_M ul{}
.Dia_box_link_M ul li{list-style:none;}
.Dia_box_link_M ul li a{color:#fff;font-family:Bell MT;}
}

/* If the screen size is 600px or less, set the font-size of <div> to 30px */
@media only screen and (max-width: 600px) {
  
.Dia_menu_section_m{
	opacity:0 ;
	position:absolute;
	width:100%;
}

.Dia_box_m{
	text-align:left;
}
.Dia_box_m h4{
	font-family:Bell MT;
	font-weight:bold;
	color:#33CCFF;
	margin-left:10%;
}
.Dia_box_link_M{
	text-align:left;
}
.Dia_box_link_M ul{}
.Dia_box_link_M ul li{list-style:none;}
.Dia_box_link_M ul li a{color:#fff;font-family:Bell MT;}
}

/*--****************************************************************************************--*/
/*--****************************************************************************************--*/
/*--****************************************************************************************--*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/
/*--------------------------Da_menu_m ed----------------------------*/
/*------------------------------------------------------*/
/*------------------------------------------------------*/






/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--////////////////////////////////////Dia_ASHA_1st_and_2nd_page_start////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/


/**************************************************************************************/
/**************************************************************************************/
/****************************dia_left_right_logo_text_start(a)******************************************/
/**************************************************************************************/
/**************************************************************************************/

.dia_logo_and_text {background: #FFFFFF; min-height: 280px;}

.dia_jumbotron1 {border-radius: 0px; background: #FFFFFF; min-height: 215px; }

.dia_jumbotron1 h1{font-size: 80px; font-family: Chiller; font-weight:bold; color:#808080;}

.dia_jumbotron1 p{color:#808080; font-family: Times New Roman; text-align: center;}

.dia_jumbotron{ background: white;  }

.dia_jumbotron img{ height: 250px; }



/**************************************************************************************/
/**************************************************************************************/
/****************************dia_left_right_logo_text_end(a)******************************************/
/**************************************************************************************/
/**************************************************************************************/




/**************************************************************************************/
/**************************************************************************************/
/****************************text_thamble_start(a)****************************************************/
/**************************************************************************************/
/**************************************************************************************/
.thamble{background:  #FFFFFF; text-align: center; border: 0px; }
.thumbnail{border-radius: 0px; height: 400px;}
.thumbnail h3{font-style: italic; font-weight:bold; color: #595959; font-family: Times New Roman; font-size: 30px;}
.thumbnail a{ font-weight: bold; color:#262626; text-decoration: underline;}
.thumbnail p{font-weight: bold;}


/**************************************************************************************/
/**************************************************************************************/
/****************************text_thamble_end(a)******************************************************/
/**************************************************************************************/
/**************************************************************************************/


/**************************************************************************************/
/**************************************************************************************/
/****************************affordable_end(a)******************************************************/
/**************************************************************************************/
/**************************************************************************************/
.dia_affordable{background: #F2F2F2;}
.dia_images{ height: 450px; }
.dia_images img{}
.dia_text  { text-align: center; border-radius:0px; height: 450px; padding:70px;}
.dia_text h2{margin-top:0px; font-family: Time New Roman; font-weight: bold;}
.dia_text p{}
.dia_text a{color:#262626;text-decoration: underline; font-weight: bold; }


/**************************************************************************************/
/**************************************************************************************/
/****************************affordable_end(a)******************************************************/
/**************************************************************************************/
/**************************************************************************************/



/**************************************************************************************/
/**************************************************************************************/
/****************************about_end(a)******************************************************/
/**************************************************************************************/
/**************************************************************************************/

.dia_prof{height: 370px; background: red; }

.dia_prof img{ height: 370px; width: 100%; }

.dia_larn{ background:#F8CBAD; height: 370px; text-align: center;}
.dia_larn h1{margin:0px;  padding: 40px; font-family: Time New Roman; font-weight: bold;}
.dia_larn a{ color: black; font-weight: bold; font-family: Time New Roman;}


/**************************************************************************************/
/**************************************************************************************/
/****************************about_end(a)******************************************************/
/**************************************************************************************/
/**************************************************************************************/




/**************************************************************************************/
/**************************************************************************************/
/****************************slider_start(a)******************************************************/
/**************************************************************************************/
/**************************************************************************************/
.text2{background: green; height: 300px;}
.slider{background: red; height: 300px;}


/**************************************************************************************/
/**************************************************************************************/
/****************************slider_end(a)********************************************************/
/**************************************************************************************/
/**************************************************************************************/

/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--////////////////////////////////////Dia_ASHA_1st_and_2nd_page_end//////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/







/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--////////////////////////////////////Dia_footer_m start///////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
.Dia_footer_m {
	background:#000000;
	text-align:center;
	padding-bottom:10px;
	padding-top:10px;
}
.Dia_footer_m p{
	font-family:Calibri (Body);
	font-size:11px;
	color:#fff;
}
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////Dia_footer_m end////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/
/*--///////////////////////////////////////////////////////////////////////////////////--*/